.App {
  text-align: center;
  font-family: Sora;

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 20px;
    
    .logRegNav{
      display: grid;
      justify-content: space-around;
      text-decoration: none;
      color: white;
      margin-bottom: 30px;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(1, auto);

      :visited{
        color: inherit;
      }

      :hover{
        cursor: pointer;
      }
      div{
        text-decoration: none;
      }
    }

  }
}



