.universeCard{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 1px;
    width: 80vw;
    background-color: #DBA11C;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    h2{
        margin-left: 20%;
        width: 60%;
        a{
            text-decoration: none !important;
            color: inherit !important;
        }
        a:visited{
            text-decoration: none !important;
            color: inherit !important;
        }


    }
    .universeCardButton{
        position: absolute;
        border-radius: 5px;
        right: 15%;
        width: 30px;
        height: 30px;
    }
    p{
        padding: 10px;
        font-size: 20px;
    }
    div{
        font-size: 15px;
        margin-bottom: 20px;
    }

}